@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-spectral: 'Spectral', serif;
}


body {
  overflow: hidden;
}
::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}

