@import 'tailwindcss';
@plugin '@tailwindcss/typography';


body {
  overflow: hidden;
}
::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}

