@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-spectral: 'Spectral', serif;
}


body {
  overflow: hidden;
  background: radial-gradient(
    circle,
    #F5F2EB 0%,
    #E8E1D3 70%,
    #D8CCBA 100%
  );
}
::selection {
  background: none;
}
::-moz-selection {
  background: none;
}
::-webkit-selection {
  background: none;
}

